//- Start Content
script(type='text/ng-template', id='menu1.html').
	<div class="fixed-action-btn">
	<a class="btn-floating btn-large purple darken-3">
		<i class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><button data-tooltip="Update data" ng-click='vm.getLiveChartData()' class="btn-floating red tooltipped"><i class="material-icons">update</i></button></li>
	</ul>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.fixed-action-btn').floatingActionButton();
			$('.tooltipped').tooltip({position: 'left'});
			$('.chips').chips();
		});	
	</script>
	<style>
		.md-chips.md-focused {
			box-shadow: none;
		}
	</style>
ng-include(src="'menu1.html'")
//- .row
//- 	.col.s12.m12
//- 		div(ng-repeat='data in vm.data').card
//- 			.card-content
//- 				p ManualShipmentNr: {{data.ManualShipmentNr}}
//- .row
//- 	.col.s12.m12
//- 		div(ng-show='vm.data.length>0')
//- 			table.responsive-table
//- 				thead
//- 					tr
//- 						th(ng-repeat='(key,value) in ::vm.data[0]') {{::key}}
//- 				tbody
//- 					tr(ng-repeat='records in vm.data | orderBy: ["-ShipDate","Time"]')
//- 						td(ng-repeat='(key,value) in ::records') 
//- 							div {{value}}
//- 		div(ng-show='vm.data.length<1').alert.alert-info No events!
