doctype html
html(lang='en')
	head
		meta(charset='utf8')
		meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name="theme-color",content="#97bbcd")
		base(href='/')
		title Infoscreenv2
		link(rel='icon', href='https://getbootstrap.com/favicon.ico')
		title Dashboard Template for Bootstrap
		//- Bootstrap core CSS
		//- link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',crossorigin='anonymous')
		//- Compiled and minified CSS Materialize CSS
		link(rel="stylesheet",href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		//- Custom styles for this template
		//- link(href='/css/dashboard.css',rel='stylesheet')

		block extraHeader
	body(ng-app='Infoscreenv2')
		block body
		block scripts
