script(type='text/ng-template', id='Lots.html').
	<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
		});
ng-include(src="'Lots.html'")
ul.collapsible
	li.active
		.collapsible-header
			h5 Lots
		.collapsible-body
			span
				div(ng-if='vm.customerentitycountdatastarting',align='center').progress
					.indeterminate
				//- div(uib-alert,ng-show="vm.customerentitycountdata.name=='SequelizeDatabaseError'",style='margin:5px;',close="vm.customerentitycountdata.name=null").alert-danger
				//- 	{{vm.customerentitycountdata.original.message}}
				div(ng-show="vm.customerentitycountdata.name=='SequelizeDatabaseError'",style='margin:5px;').card.red.lighten-2
					.card-content.white-text
						{{vm.customerentitycountdata.original.message}}
				div(uib-alert,ng-show="vm.customerentitycountdata.length<1 && !vm.customerentitycountdatastarting",style='margin:5px;').alert-danger
					p No data!
			canvas(id='line',chart-data='::[vm.customerentitycountdata[2],vm.customerentitycountdata[3],vm.customerentitycountdata[4]]',chart-labels='::vm.customerentitycountdata[1]',chart-series='::[vm.customerentitycountseries[2],vm.customerentitycountseries[3],vm.customerentitycountseries[4]]',chart-options='::vm.options2',height='100',chart-dataset-override="[{pointRadius:2},{pointRadius:2},{pointRadius:2}]").chart.chart-line
