//- .card
//- 	.card-header 
//- 		h5 
//- 			i.fas.fa-address-card
//- 			|                   Licenses
//- 			button(ng-click="vm.isCollapsed = !vm.isCollapsed",type="button",data-toggle="collapse",data-target="#collapseLicenses",role="button",aria-expanded="false",aria-controls="collapseLicenses").btn.btn-default.btn-sm.float-right
//- 				i(ng-show='vm.isCollapsed').fas.fa-plus
//- 				//- |                   collapse
//- 				i(ng-show='!vm.isCollapsed').fas.fa-minus
//- 				//- |                   collapse
//- 	div(id="collapseLicenses").collapse.show
//- 		div(ng-if='vm.licensesstarting',align='center').loading
//- 				i(aria-hidden="true").fas.fa-circle-notch.fa-spin.fa-3x.fa-lg
//- 		div(uib-alert,ng-show="vm.licenses.name=='SequelizeDatabaseError'",style='margin:5px;',close="vm.licenses.name=null").alert-danger
//- 			{{vm.licenses.original.message}}
//- 		div(uib-alert,ng-show="vm.licenses.length<1 && !vm.licensesstarting",style='margin:5px;').alert-danger
//- 			p No data!
//- 		div(ng-repeat='license in vm.licenses track by $index', style='padding:5px;',ng-hide="vm.licenses.name=='SequelizeDatabaseError'")
//- 			.row
//- 				.col-md-6
//- 					{{license.description}} ({{license.hostname}})
//- 				.col-md-6
//- 					uib-progressbar(max='license.licenses', value='license.ActiveLicenses')
//- 						span(style='color:white; white-space:nowrap;') {{license.ActiveLicenses}} / {{license.licenses}}
script(type='text/ng-template', id='Licenses.html').
	<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
		});
ng-include(src="'Licenses.html'")
ul.collapsible
	li.active
		.collapsible-header
			h5 Licenses
		.collapsible-body
			span
				div(ng-if='vm.licensesstarting',align='center').progress
					.indeterminate
				//- div(uib-alert,ng-show="vm.licenses.name=='SequelizeDatabaseError'",style='margin:5px;',close="vm.licenses.name=null").alert-danger
				//- 	{{vm.licenses.original.message}}
				div(ng-if="vm.licenses.name=='SequelizeDatabaseError'",style='margin:5px;').card.red.lighten-2
					.card-content.white-text
						{{vm.licenses.original.message}}
				div(uib-alert,ng-if="vm.licenses.length<1 && !vm.licensesstarting",style='margin:5px;').alert-danger
					p No data!
				div(ng-repeat='license in vm.licenses track by $index', style='padding:5px;',ng-hide="vm.licenses.name=='SequelizeDatabaseError'")
					.row
						.col.s6
							{{::license.description}} ({{::license.hostname}})
						.col.s6
							//- uib-progressbar(max='license.licenses', value='license.ActiveLicenses')
							//- 	span(style='color:white; white-space:nowrap;') {{license.ActiveLicenses}} / {{license.licenses}}
							.progress
								div(ng-style="::{ 'width': (({{license.ActiveLicenses}} / {{license.licenses}})*100) + '%' }").determinate
							{{::license.ActiveLicenses}} / {{::license.licenses}}
